<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\styles.css">
    <title>Reset Password page</title>
</head>
<body>
<div class="content">
    <h1>Forgot Your Password!</h1>
    <div class="reset">
        <form action="{{url_for('reset')}}" method="POST">
            {% if message is defined and message %}
		    <div class="alert alert-warning">{{ message }}</div>
		    {% endif %}
         <div class="form-group">
                <label for="email">Enter Your Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Your email" name="email">
        </div>

        <div class="form-group">
			<label for="pwd">Your New Password:</label>
			<input type="password" class="form-control" id="password" name="password" placeholder="Your New password" name="pswd">
		</div>
        <input type="hidden" id="userid" name="userid" value="{{ changePassuserid }}">    
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
    </div>
 
</div>
</body>
</html>